<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	
	<!-- v1.3 Launch Screen Configuration -->
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>SplashLogo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UILaunchScreenMininumTime</key>
		<real>1.0</real>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
	</dict>
</dict>
</plist>
